/** {
    padding: 0;
    margin: 0;
}*/

*::selection {
    background-color: #040515;
    color: #126584;
}

/* CSS HEX */
:root {
--black: #040515;
--tarawera: #0a3b54;
--tiber: #09363f;
--black-pearl: #082238;
--pearl: #071d29;
--pearl-black: #060f25;
--chathams-blue: #126584;
--genoa: #12666b;
--steel-gray: #2c283c;
}

.menu ul li a.active {
    transform: translateY(0.4em);
    box-shadow: 0 0.2em var(--tarawera), 0 0.4em rgba(18, 102, 107, 0.4);
}

body {
    /*margin: auto;
    padding: 0;*/

    height: 100%;
    margin: 0;
    background-attachment: fixed;

    font-family: sans-serif;
    color: lightgray;

    background-image: url('../ressource/background.jpg');
}

@keyframes fundo {
    to {
        background-position:top, bottom;
    }
}

.bg_Animation {
    min-height:100%;
    background-image: linear-gradient(to bottom, #b51f0e75, #b51f0e66, #122a4266, #122a4275, #b51f0e75, #b51f0e66);
    background-size: 100% 400%;
    background-position: 0% 0%;
    animation-duration: 8s;
    animation-name: bgrad;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}
@keyframes bgrad {
    0% {
        background-position: 0% 0%;
      }
      100% {
        background-position: 0% 100%;
      }
}

section {
    text-align: center;
    padding: 10px;
    width: 33%;
    min-width: 375px;

    background-color: #08223866;
    border-radius: 10px;

    margin: auto;
    margin-bottom: 10px;

    animation-name: virus;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}

section iframe {
    display: flex;
    margin: auto;

    width: 100%;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img {
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@keyframes virus {
    0% {background-color: #08223866;}
    100% {background-color: #b51f0e66;}
}

.menu {
    text-align: center;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menu img {
    width: 33%;
    min-width: 400px;
    margin: auto;
    padding: 0;
    display: flex;
}

.menu ul {
    padding: 0;
    margin-top: 0px;
    margin-bottom: 20px;
}

.menu ul li {
    list-style: none;
    display: inline;
    
    max-width: 70px;
}

.menu ul li a {
    display: inline-block;
    padding: 10px 20px;

    color: var(--genoa);
    background-color: var(--black-pearl);
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid var(--tiber);
    border-radius: 0.5rem;
    box-shadow: 0 0.6em var(--tarawera), 0 0.8em rgba(18, 102, 107, 0.4);

    transition: all 800ms ease-in-out;

    
}

.menu ul li a:hover {
    color: #999999;
    border: 2px solid #b51f0e;
    background-color: #801b10;
    transform: translateY(-0.3em);
    box-shadow: 0 0.6em #851407, 0 1.2em #b51f0e66;
    cursor: pointer;
}

.menu ul li a:active, #index ul li .index, #credits ul li .credits, #about ul li .about, #news ul li .news {
    color: #09363f;
    border: 2px solid var(--chathams-blue);
    background-color: var(--chathams-blue);
    transform: translateY(0.4em);
    box-shadow: 0 0.2em var(--tarawera), 0 0.4em rgba(18, 102, 107, 0.4);
}

#index ul li .index, #credits ul li .credits, #about ul li .about, #news ul li .news{
    pointer-events: none;
}

.gif-1, .gif-2 {
    position: fixed;
    top: 35%;
    width: 20%;
}

.gif-1 img, .gif-2 img {
    width: 100%;
}

.gif-1 {
    left: 5%;
}

.gif-2 {
    right: 5%;
}

@media only screen and (max-width: 850px) {
    .gif-1, .gif-2 {
      display: none;
    }
}

@media only screen and (max-width: 650px) {
    .menu ul li:nth-child(4), .menu ul li:nth-child(5){
        position: relative;
    }
}

@media only screen and (max-width: 375px) {
    .menu ul li:nth-child(3){
        position: relative;
    }
}

.footer {
    position: relative;
    bottom: 0;
    margin-top: 50px;
    text-align: center;

    width: 100%;
    min-width: 400px;
}

.footer img {
    width: 90px;
    /*height: 50px;*/
}

.footer ul {
    margin: 0;
    padding: 0;
}
.footer ul li img {
    width: 17px;
}

.footer ul li {
    list-style-type: none;
    text-align: left;
}

.footer a {
    text-decoration: none;
    color: #126584;
}

.footer_element {
    display: inline-block;
    /*border: 1px solid #126584;*/
}

.footer div {
    margin-left: 30px;
}

.test-0{
    float: left;
    height: 150px;
}
.test-1{
    float: right;
    height: 150px;
}